@using CloudCompare.Web.Helpers
@model CloudCompare.Web.Models.SearchFilterModelTwoColumn

<div>
    <table id="dataTable" style="width:100%;">
        <tr>
            <td style="width:10%">
                @Html.CheckBoxFor(x => x.Col1Selected)
            </td>
            <td style="width:40%">
                @Html.LabelFor(x => x.Col1SearchFilterName, Model.Col1SearchFilterName)
            </td>
            <td style="width:0%">
                @Html.HiddenFor(x => x.Col1SearchFilterName)
            </td>
            <td style="width:0%">
                @Html.HiddenFor(x => x.Col1SearchFilterType)
            </td>

            
            
            @if (Model.Col2SearchFilterName != null)
            {            
            <td style="width:10%">
                @Html.CheckBoxFor(x => x.Col2Selected)
            </td>
            <td style="width:40%">
                @Html.LabelFor(x => x.Col2SearchFilterName, Model.Col2SearchFilterName)
            </td>
            <td style="width:0%">
                @Html.HiddenFor(x => x.Col2SearchFilterName)
            </td>
            <td style="width:0%">
                @Html.HiddenFor(x => x.Col2SearchFilterType)
            </td>
            }
            else
            {
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            }
        </tr> 
    </table>
</div>

            
